:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #fa6d30;
}


* {
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Monttserra', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primaria);
    text-decoration: none;
}

.apresentacao {
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

strong {
    color: var(--cor-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__link__subtitulo {
    font-family: 'Krona One' sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__link {
    border: 2px solid var(--cor-secundaria);
    width: 30%;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px;
    color: var(--cor-primaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-secundaria)
}

.apresentacao__imagem {
    width: 50%;         
}

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}


.apresentacao__conteudo__texto a{
    text-decoration: none;
    color: var(--cor-primaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao {
    flex-direction: column-reverse;
    padding: 6%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}